{% extends 'template.twig' %}

{% block content %}
    <div class="row no-margin">
        <div class="left col s12 m3 side-menu-search">
            <div class="card third-color white-text">
                <div class="card-content white-text">
                    <span class="card-title">Search options</span>
                    <div class="row">
                        <label for="departure_city"><i class="material-icons">place</i> From:</label>
                        <input id="departure_city" type="text" value="">
                    </div>
                    <div class="row">
                        <label for="departure_city"><i class="material-icons">place</i> To:</label>
                        <input id="arrival_city" type="text" value="">
                    </div>
                    <div class="row">
                        <i class="material-icons">attach_money</i> Price between:<br/><br/><br/>
                        <div class="range-field" id="filter-price"></div>
                    </div>
                    <div class="row">
                        <i class="material-icons">airline_seat_recline_extra</i> Places left:<br/><br/><br/>
                        <div class="range-field" id="filter-places"></div>
                    </div>
                </div>
            </div>
            <div class="card third-color white-text">
                <div class="card-content white-text">
                    <span class="card-title">Sorting options</span>
                    <div><i class="material-icons">attach_money</i> Price
                        <a id="sort-by-price-up" class="right" href="#"><i
                                    class="material-icons">arrow_upward</i></a>
                        <a id="sort-by-price-down" class="right" href="#"><i
                                    class="material-icons">arrow_downward</i></a>
                    </div>

                    <div><i class="material-icons">today</i> Date
                        <a id="sort-by-date-up" class="right" href="#"><i
                                    class="material-icons">arrow_upward</i></a>
                        <a id="sort-by-date-down" class="right" href="#"><i
                                    class="material-icons">arrow_downward</i></a>
                    </div>


                    <div><i class="material-icons">airline_seat_recline_extra</i> Places
                        <a id="sort-by-places-up" class="right" href="#"><i class="material-icons">arrow_upward</i></a>
                        <a id="sort-by-places-down" class="right" href="#"><i
                                    class="material-icons">arrow_downward</i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="left col s12 m9">
            <h1 id="home-title" class="center">New travels !</h1>
            <div class="grid">
                {% for travel in travels %}
                    <div class="grid-item col s12 m4" data-price="{{ travel.price }}" data-date="{{ travel.starttime }}"
                         data-places="{{ travel.places }}" data-departure-city="{{ travel.startcity }}"
                         data-arrival-city="{{ travel.endcity }}">
                        <div class="card blue-grey darken-1">
                            <div class="card-content white-text">
                                <span class="card-title">{{ travel.startcity }} - {{ travel.endcity }}</span>
                                <p>Depart : {{ travel.starttime|date("m/d/Y G:i", "America/New_York") }}</p>
                                <p>Arrival : {{ travel.endtime|date("m/d/Y G:i", "America/New_York") }}</p>
                                <p>Places left : {{ travel.places }}</p>
                            </div>
                            <div class="card-action">
                                <div class="row">
                                    <p class="card-price white-text col s6">$ {{ travel.price }}</p>
                                    <a class="btn-floating btn-medium waves-effect waves-light green right"
                                       href="index.php?page=travel&idtravel={{ travel.idtravel }}">
                                        <i class="material-icons">chevron_right</i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}