{% extends 'template.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="offset-m3 center block col s12 m6">
                <div class="card third-color">
                    <div class="card-content white-text">
                        <span class="card-title">Sign Up</span>
                        <form class="" action="index.php?page=register" method="post">
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">account_circle</i>
                                    <input id="pseudo" type="text" class="validate" name="username" value="{{ data['username'] }}">
                                    <label for="pseudo">Username</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">mail</i>
                                    <input id="email" type="email" class="validate" name="email" value="{{ data['email'] }}">
                                    <label for="email">E-mail Address</label>
                                </div>
                            </div>                            
                            <div class="row">
                                <div class="input-field col s6">
                                    <i class="material-icons prefix">location_city</i>
                                    <input id="city" type="text" class="validate" name="city" value="{{ data['city'] }}">
                                    <label for="city">City</label>
                                </div>
                                <div class="input-field col s6">
                                    <i class="material-icons prefix">phone</i>
                                    <input id="phone" type="tel" class="validate" name="phone" value="{{ data['phone'] }}">
                                    <label for="phone">Phone</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">security</i>
                                    <input id="password" type="password" class="validate" name="password" value="{{ data['password'] }}">
                                    <label for="password">Password</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">security</i>
                                    <input id="password-2" type="password" class="validate" name="passwordConfirm" value="{{request.form.passwordConfirm}}">
                                    <label for="password">Retype Password</label>
                                </div>
                            </div>
                            <div class="row">
                                <input class="btn btn-default" type="submit" name="register" value="Sign Up">
                            </div>
                        </form>
                    </div>
                    <div class="card-action white-text">
                        <p>Already a member?
                            <a href="index.php?page=login">SIGN IN</a>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
