{% extends 'template.twig' %}

{% block content %}
<main>
  <div class="container">
    <div class="row">
    <div class="center block col s12 m12">
                <div class="card third-color">
                    <div class="card-content white-text">
                        <span class="card-title">Search for a Travel !</span>
                        <form class="" action="index.php?page=search" method="post">
                            <div class="row">
                                <div class="col s6">
                                    <div class="input-field col s6">
                                        <i class="material-icons prefix">location_city</i>
                                        <input id="city" type="text" class="validate" name="startcity" value="{{ data['startcity'] }}">
                                        <label for="city">Start City</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <i class="material-icons prefix">location_city</i>
                                        <input id="city" type="text" class="validate" name="endcity" value="{{ data['endcity'] }}">
                                        <label for="city">End City</label>
                                    </div>
                                </div>
                                <div class="col s6">
                                    <div class="input-field col s6">
                                        <i class="material-icons prefix">today</i>
                                        <input id="starttime" type="text" class="datepicker" name="startdate" value="{{ data['startdate'] }}">
                                        <label for="starttime">Minimum Departure Date</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <i class="material-icons prefix">alarm</i>
                                        <input id="starthour" type="text" class="timepicker" name="starthour" value="{{ data['starthour'] }}">
                                        <label for="starthour">Minimum Departure Hour</label>
                                    </div>
                                </div>
                            </div>                     
                            <div class="row">                                                      
                                <div class="input-field col s6">
                                    <i class="material-icons prefix">airline_seat_recline_extra</i>
                                    <input id="places" type="number" class="price" name="places" value="{{ data['places'] }}">
                                    <label for="places">Minimum Places Left</label>
                                </div>
                                <div class="input-field col s6">
                                    <i class="material-icons prefix">attach_money</i>
                                    <input id="price" type="number" class="price" name="price" value="{{ data['price'] }}">
                                    <label for="price">Maximum Price</label>
                                </div>
                            </div>                                                           
                            <div class="row">
                                <input class="btn btn-default" type="submit" name="search" value="Search !">
                            </div>
                        </form>
                        {% if errors %}
                            <p class="error">
                                <strong>Error:</strong>
                                {% for error in errors %}
                                    {{ error }}<br/>
                                {% endfor %}
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
    </div>
    <div class="row">
      {% for travel in travels %}
        <div class="col s12 m4">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">{{ travel.startcity }} - {{ travel.endcity }}</span>
              <p>Depart : {{ travel.starttime|date("m/d/Y G:i", "America/New_York") }}</p>
              <p>Arrival : {{ travel.endtime|date("m/d/Y G:i", "America/New_York") }}</p>
              <p>Places left : {{ travel.places - travel.passengers }}</p>              
            </div>
            <div class="card-action">
              <div class="row">
                <p class="card-price col s6">$ {{ travel.price }}</p>
                 <a class="col s6 btn main-bg-color" href="index.php">See more</a>
              </div>                        
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
  </div>
</main>
{% endblock %}